body{
    font-family: 'Roboto'
}
html{
    background:#eef2ff
}

.boardBanner img{
    align-items: center;
    border:1px solid rgb(0, 0, 0)
}
.boardTitle{
    font-weight: bold;
    font-size: xx-large;
    text-align: center
}
.OP-Post{
    margin-top: 1%;
    margin-bottom: 1%;
}
.replyIds{
    display: inline-flex;
    font-size:small;
}
.replyPost{
    background-color: #cbd6f8;
    margin-top: 1%;
    margin-bottom: 1%;
    display:block;
    position:relative;
    white-space:nowrap;
    width:fit-content;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.postText{
    padding-left: 1.5em;
    padding-top: 1em;
}
.postHeader{
    padding-left: 1%;
}
.mainFlex{
    display: flex;
}
.mainReply{
    display: flex;
}
.threadSubject{
    color: navy;
    font-weight: bold
}
.posterName{
    color: darkcyan;
    font-weight: bold
}
a{
    color: darkslateblue;
}
.redirectPost{
    color: rgb(255, 0, 0);
}
#toggleReply{
    font-weight: bold;
    font-size: larger;
    text-align: center
}
#postReplyForm{
    display: flex;
    justify-content: center;
}
.shortHeader{
    width: 50%;
}
/*
.catalogBody{
    //display: flex;
    //flex-wrap: wrap;
    display:grid;
    grid-auto-flow:column;
    grid-template-columns: repeat(auto-fit,10%);
    grid-auto-rows: auto;
    gap: 50px 100px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
*/
.catalogBody{
    display:grid;
    grid-template-columns: repeat(auto-fill,10%);
    gap: 50px 50px;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.catalogThread{
    max-width: 200px;
    max-height: 300px;
    overflow:hidden;
    overflow-wrap: normal;
    text-align: center;
}
.catalogSubject{
    font-weight: bold;
}
.catalogReplyCount{
    font-size: smaller;
    font-weight: bold;
}