body{
    font-family: 'Roboto'
}
html{
    background:#eef2ff
}
.foot{
    display: grid;
    padding-left: 20%;
    grid-template-columns: repeat(auto-fill,33%);
    justify-content: center;
}
input{
    font-size: 1.5em;
}
.noSearchResults{
    display: none;
}
.searchResults{
    display: flex;
    
}
.OP-Post{
    margin-top: 1%;
    margin-bottom: 1%;
}
.replyIds{
    display: inline-flex;
    font-size:small;
}
.replyPost{
    background-color: #cbd6f8;
    margin-top: 1%;
    margin-bottom: 1%;
    display:block;
    position:relative;
    white-space:nowrap;
    width:fit-content;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-left: 1.5em;
}
.postText{
    padding-left: 1.5em;
    padding-top: 1em;
}
.postHeader{
    padding-left: 1%;
}
.mainFlex{
    display: flex;
}
.mainReply{
    display: flex;
    flex-direction:row;
}
.threadSubject{
    color: navy;
    font-weight: bold
}
.posterName{
    color: darkcyan;
    font-weight: bold
}
a{
    color: darkslateblue;
}
.redirectPost{
    color: rgb(255, 0, 0);
}