body{
    font-family: 'Roboto'
}
html{
    background:#eef2ff
}
.boardBanner img{
    align-items: center;
    border:1px solid rgb(0, 0, 0)
}
.boardTitle{
    font-weight: bold;
    font-size: xx-large;
    text-align: center
}
.OP-Post{
    margin-top: 1%;
    margin-bottom: 1%;
}
#threadParent{
    margin-left: 2%;
    margin-right: 2%;
}
#threadBody{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.replyIds{
    display: inline-flex;
    font-size:small;
}
.replyPost{
    background-color: #cbd6f8;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    display:block;
    position:relative;
    white-space:nowrap;
    width:fit-content;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.postText{
    padding-left: 1.5em;
    padding-top: 1em;
}
.postHeader{
    padding-left: 1%;
}
.mainFlex{
    display: flex;
}
.mainReply{
    display: flex;
}
.threadSubject{
    color: navy;
    font-weight: bold
}
.posterName{
    color: darkcyan;
    font-weight: bold
}
a{
    color: darkslateblue;
}
.redirectPost{
    color: rgb(255, 0, 0);
}
#toggleReply{
    font-weight: bold;
    font-size: larger;
    text-align: center
}
#postReplyForm{
    display: flex;
    justify-content: center;
}